    </div>  <!-- end container-->

<!-- script if/else -->
<script>
    function longIslandCheck(){
        if (document.getElementById("iHazLongIsland").value == "true"){
            document.getElementById("ratingField").classList.remove("hideRating");
        }
        else{
            document.getElementById("ratingField").classList.add("hideRating");
        }
    }
</script>
<!-- end if/else -->

</body>
</html>
