{{> header }}

<h1>Register</h1>

<form action="/register" method="POST">
    <div class="row">
        <div class="u-full-width">
            <label for="username">Username</label>
            <input type="text" class="u-full-width" name="username" placeholder="Username">
            <label for="password">Password</label>
            <input type="password" class="u-full-width" name="password" placeholder="Password">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input class="button-primary" type="submit" value="Register">
        </div>
    </div>
</form>

{{> footer }}
