@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

li { list-style-type: none; display: inline; padding: 8px; }
.hideRating {
    display: none;
}

/* for mobile */
.aside-form{
    width: 100%;
    padding-bottom: 5%;
    border-bottom: 1px solid black;
}

.table-section {
    padding-top: 5%;
    width: 100%;
}



/*.table-section .delete-place {*/
/*    display: none;*/
/*}*/

/* end mobile */


/* for non-mobile */
@media (min-width: 600px) {
    .aside-form{
        width: 27%;
        padding-right: 3%;
        float: left;
        border-bottom: none;
        
    }
    
    .table-section {
        width: 57%;
        padding-top: 0;
        padding-left: 3%;
        border-left: 1px solid black;
        float: left;
    }
    
/*    .table-section .delete-place {*/
/*        display: block;*/
/*    }*/
    
    .form-label {
        padding-top: 12px;
        padding-bottom: 12px;
    }

}

/* end non-mobile */


/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

input[type=submit] {
    margin-top: 15px;
}

form {
    margin-bottom: 0;
}
